@import url("http://fonts.googleapis.com/earlyaccess/amiri.css");
@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");

*{
    font-family: 'Amiri', serif;
    
}

input {
    font-family: 'Droid Serif', serif;
    text-transform: lowercase;
}
.form-control{
    text-transform: lowercase;
}
.blog-entry{
    direction: rtl;
}
.card{
    /*border-radius: 10%;*/
}
.card-header{
    /*border-radius: 10%;*/
    font-size: 28px;
    background: rgba(144,205,224,0.5);
}
.card-body label,.card-body select{
    font-size: 22px;
}
.blog-entry .entry--img img, .entry-related .entry--img img {
    max-width: 100%;
    height: 250px;
    -moz-transition: all .35s linear;
    -webkit-transition: all .35s linear;
    -ms-transition: all .35s linear;
    -o-transition: all .35s linear;
    transition: all .35s linear;
}
.card table{
    background-color: #000000;
}
.card table thead{
    background-color: #90cde0;
}
.card table td{
    font-size: 22px;
}
.margin-btm{
    margin-bottom: 10px;
}
.card-container{
    margin-bottom: 0px !important;
    background: rgba(30,185,154,0.5) !important;
    font-size: 22px !important;
    color: white !important;
}
.logo{
    color: #0f3e68;
}
.invalid-feedback{
    color: #ff3030;
}
.footer{

}
@media only screen and (max-width: 767px) and (min-width: 320px){
    .navbar-toggle {
        border-color: #1c7430 !important;
        color: #1c7430;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-top: 35px;
    }
    .navbar-toggle .icon-bar {
        background-color: #1c7430 !important;
    }
}

select .has-error .help-block,.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}
.modal-backdrop {
    background-color: rgba(30,185,154,0.5)
}

.select2 {


}
@media only screen and (max-width: 600px) {
    .select2 {


    }
}
